
body{
  font-family:Arial;
  background:#0f172a;
  color:white;
}
.container{
  max-width:600px;
  margin:auto;
  background:#1e293b;
  padding:20px;
  border-radius:10px;
}
input{
  padding:10px;
  border-radius:5px;
  border:none;
  margin-right:10px;
}
button{
  padding:10px;
  background:#38bdf8;
  border:none;
  border-radius:5px;
  color:white;
}
li{
  display:flex;
  justify-content:space-between;
  padding:10px;
  background:#334155;
  margin-top:10px;
  border-radius:5px;
}
.done span{
  text-decoration:line-through;
  color:#94a3b8;
}
